/*Global Styles*/

* {
	padding: 0;
	margin: 0;
}

body {
	font-size: 14px;
	font-family: 'Comfortaa', sans-serif;
}

.container {
	box-sizing: border-box;
	width: 80%;
	height: 100%;
	margin: 0 auto;
	padding: 0 10px;
}

.circle {	
	width: 60px;
	min-width: 60px;
	height: 60px;
	min-height: 60px;
	border-radius: 50%;
	background-color: #e84c3d;
	text-align: center;
}

.circle_dark {
	background-color: #202528;
}

.circle i {
	line-height: 60px;
	font-size: 16px;
	color: #fff;
}

.main-header {
	color: #202528;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 35px;
}

.small-header {
	display: inline-block;
	color: #e84c3d;
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	padding: 10px 0;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 45px;
}

.paragraph {
	color: #202528;
	font-size: 14px;
	line-height: 24px;
	text-indent: 30px;
}

.ellipse-button {
	display: inline-block;
	height: 35px;
	padding: 0 25px;
	font-size: 14px;
	color: #fff;
	line-height: 35px;
	border-radius: 21px;
	background-color: #e84c3d;
	text-decoration: none;
}

.stop-scroll {
	overflow: hidden;
}

/*Header Section*/

.header {
	height: 100vh;
	min-height: 640px;
	color: #e7e7e7;
	font-family: Neucha, sans-serif;
	font-size: 16px;
	margin-bottom: 80px;
}


.container_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.navigation-menu {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	box-sizing: border-box;
	height: 90px;
	background-color: rgba(17,18,25, 1);
	/*border-bottom: 1px solid rgba(231,231,231, 0.3);*/
	visibility: hidden;
}

.logo {
	position: relative;
	display: block;
	color: #e7e7e7;
	text-decoration: none;
	font-family: DancingScript, sans-serif;
	font-size: 16px;
	line-height: 90px;
	min-width: 100px;
	height: 100%;
	transition: color 0.4s ease;
}

.logo:hover {
	color: #e84c3d;
	transition: color 0.8s ease;
}

.logo__name {
	position: relative;
	top: -9px;
	left: 10px;
}

.logo__family {
	position: relative;
	top: 9px;
	left: -10px;
}

.main-menu {
	display: flex;
	height: 100%;
	width: 40%;
	min-width: 400px;
	max-width: 500px;
	justify-content: space-between;
}

.main-menu__item {
	padding: 0 10px;
	display: flex;
	align-items: center;
	height: 100%;
	color: #e7e7e7;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: background-color 0.4s ease;
}

.main-menu__item:hover {
	background-color: #e84c3d;
	transition: all 0.8s ease;
}

.hamburger {
	display: none;
	margin-right: 20px;
	 -webkit-tap-highlight-color: transparent; 
}

.hamburger:hover {
	cursor: pointer;
}


.hamburger i {
	font-size: 24px;
}

.header-middle {
	height: calc(70% - 90px);
	background: #444849 url('../img/bg-first.jpg') no-repeat center center /cover;
	padding-top: 90px;
}

.header-middle__top {
	box-sizing: border-box;
	height: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-middle__header {
	font-weight: normal;
	font-size: 32px;
	letter-spacing: 1px;
	line-height: 60px;
	flex-basis: 50%;
}

.header-middle__paragraph {
	width: 280px;
	max-width: 80%;
	position: relative;
	font-family: Neucha, sans-serif;
	font-size: 16px;
	line-height: 37px;	
	letter-spacing: 1px;
	text-align: center;
	margin: auto;
}

.fa-quote-left {
	display: block;
	position: absolute;
	top: -15px;
	left: -15px;
	font-size: 6px;
}

.fa-quote-right {
	display: block;
	position: absolute;
	bottom: -15px;
	right: -15px;
	font-size: 6px;
}

.header-middle__bottom {
	height: 10%;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}

.header-middle__link {
	font-size: 16px;
	letter-spacing: 1px;
	color: #e84c3d;
	text-decoration: none;
}

.header-middle__lang {
}

.header-middle__lang-item {
	letter-spacing: 1px;
	color: #fff;
	transition: color 0.4s ease;
}

.header-middle__lang-item:hover {
	color: #e84c3d;
	transition: color 0.8s ease;
}

.header-middle__lang-line {
	padding: 0 2px;
}	

.header-bottom {
	height: 30%;
	width: 100%;
	background-color: #e7e7e7;
}

.container_header-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.little-text-block {
	display: flex;	
	justify-content: left;
	align-items: center;
	width: 50%;
}

.little-text-block__right {
	margin: 0 20px;
}

.little-text-block__header {
	color: #202528;
	font-family: Comfortaa, sans-serif;
	font-size: 20px;
	font-weight: normal;
	line-height: 37px;
}

.little-text-block__paragraph {
	margin-top: 15px;
	color: #202528;
	font-family: Comfortaa, sans-serif;
	font-size: 14px;
	line-height: 22px;
}


/*About Section*/

.about {
	padding: 80px 0;
}

.about-information {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.about-text {
	padding-right: 70px;
}

.about-img {
	text-align: right;
	min-width: 400px;
}

.about-img__photo {
	width: 100%;
}

.about-cv {
	height: 200px;
	margin-top: 90px;
	padding-right: 20px;
	border-radius: 20px;
	background-color: #e84c3d;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: #fff;
}

.about-cv__left {
	margin-left: 35px;
}

.about-cv__right {
	margin-left: 45px;
}

.about-cv__header {
	width: 80%;
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
	padding-bottom: 15px;
	border-bottom: 1px solid #fff;
}

.about-cv__paragraph {
	font-size: 14px;
	margin-top: 45px;
}

.about-cv__link {
	color: #fff;
	text-decoration: underline;
	font-style: italic;
}

/*Technologies Section*/

.tech {
	padding: 80px 0;
}

.skills-container {
	padding-top: 80px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.skill {
	width: 33%;
	min-height: 350px;
}

.skill_dark {
	background-color: #e7e7e7;
}

.skill_dark > .skill__header {
	color: #202528;
	border-bottom: 1px solid #fff;
}

.skill__header {
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e7e7e7;
	color: #e84c3d;
	font-size: 20px;
	font-style: italic;
	text-align: center;
}

.skill__img	{
	margin: 0 auto;
	margin-top: 40px;
	width: 90px;
}

.skill__img img {
	width: 100%;
}

.skill__text {
	text-align: center;
	line-height: 24px;
	margin-top: 40px;
	padding: 0 20%;
	padding-bottom: 30px;
}

/*Portfolio Section*/

.portfolio {
	padding: 80px 0;
}

.work-container {
	margin: 0 auto;
	margin-top: 70px;
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.work-container__arrow {
	min-width: 40px;
	cursor: pointer;
}

.work-container__arrow-svg {
	transition: fill 1s ease;
	fill: #202528;
}

.work-container__arrow:hover .work-container__arrow-svg {
	fill: #e84c3d;
	transition: fill 1.5s ease;
}

.work {
	width: 100%;
}

.work__header {
	width: 100%;
	text-align: center;
	margin-bottom: 70px;
}

.work__content {
	display: flex;
	justify-content: space-between;
	padding-right: 20px;
}

.work__text	{
	margin-left: 50px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-content: center;
}

.paragraph_work {
	width: 100%;
	text-align: left;
	margin-bottom: 50px;
}

.work__img-container {
	min-width: 360px;
	padding-left: 5px;
}

.work__img {
	width: 100%;
}

.slider-selectors {
	width: 100%;
	text-align: center;
	margin-top: 70px;
}

.slider-selectors__item {
	margin: 0 5px;
	display: inline-block;
	background-color: #ddd;
	border-radius: 50%;
	width: 13px;
	height: 13px;
	transition: background-color 1.5s ease;
}

.slider-selectors__item_active {
	background-color: #202528;
	transition: background-color 1.5s ease;
}

/*Styles for DivSlider*/

.divslider {
	overflow: hidden;
	margin: 0 70px;
	width: 100%;
}

.divslider__item {
	overflow: hidden;
}

.divslider__viewport {
	box-sizing: border-box;
	display: flex;
	visibility: hidden;
	flex-flow: row nowrap;
	height: 100%;
	width: 100%;
}

/*Contacts Section*/

.contacts {
	padding: 80px 0;
}

.contacts-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #e84c3d;
	border-radius: 20px;
	color: #fff;
	min-height: 400px;
	padding: 0 30px;
}

.contacts-block__left {
	width: 45%;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 30px 0;
}

.contact-line {
	font-style: italic;
	height: 30px;
}

.contact-line__icon {
	font-size: 20px;
	min-width: 40px;
}

.contact-line__link {
	font-size: 14px;
	color: #fff;
}

.contacts-form {
	width: 45%;	
}

.contacts-form__header {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: normal;
	margin-left: 30px;
	margin-bottom: 30px;
}

.contacts-form__input {
	font-family: Comfortaa, sans-serif;
	font-size: 12px;
	box-sizing: border-box;
	width: 90%;
	border-radius: 17px;
	display: block;
	margin: 20px auto;
	padding-left: 20px;
	border: 1px solid #fff;
	background-color: #fff;
	transition: all 0.6s ease;
}

.contacts-form__input:focus {
	outline: none;
}

.contacts-form__input_input {
	height: 34px;	
}

.contacts-form__input_area {
	resize: none;
	height: 100px;
	padding: 20px;
}

.contacts-form__wrong {
	border: 1px solid #fff;
	background-color: #ef9a9a;
	transition: all 0.6s ease;
}

.contacts-form__button {
	text-align: center;
	margin-top: 30px;
}

.contacts-form__submit {
	display: none;
}

.ellipse-button_dark {
	background-color: #202528;
	cursor: pointer;
}

/*Footer Section*/

.footer {
	position: relative;
	z-index: 110;
	box-sizing: border-box;
	height: 50px;
	background-color: rgba(17,18,25, 1);
	color: #e7e7e7;
	text-align: right;
	line-height: 50px;
}


/*Slide Menu*/

.slide-menu-container {
	display: none;
	position: fixed;
	top: 90px;
	right: 0;
	height: 100%;
	font-family: Neucha, sans-serif;
	font-size: 16px;
	background-color: rgba(17,18,25, 1);
}

.slide-menu {
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

.slide-menu__item {
	white-space: nowrap;
	padding: 20px 70px;
	color: #e7e7e7;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
}


